.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 8px 16px;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}